// 添加背景图片
body {
      background: url(/images/background.png);//自己喜欢的图片地址
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}

// Custom styles.
code {
    color: #ff7600;
    background: #ffffff;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 0px;
}
.highlight, code, pre {
    border: 0px solid #ffffff;
}


//博客内容透明化
//文章内容的透明度设置
.content-wrap {
  opacity: 0.95;
}
.main-inner { 
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;
}
.sidebar-inner {
  background: rgba(255,255,255,0.9) none repeat scroll !important;
}

.post-block {
	background: rgba(255,255,255,0.9) none repeat scroll !important;
}

//菜单栏的透明度设置
.header-inner {
  background: rgba(255,255,255,0.9);
}

//搜索框（local-search）的透明度设置
.popup {
  opacity: 0.9;
}
